/utils/utils.iml
dynamodb-data.iml
/utils/target
.idea
/core/core.iml
/core/target
/dynamodb-data-spring-boot-starter/dynamodb-data-spring-boot-starter.iml
/dynamodb-data-spring-boot-autoconfigure/dynamodb-data-spring-boot-autoconfigure.iml
/dynamodb-data-spring-boot-autoconfigure/autoconfigure.iml
/dynamodb-data-spring-boot-autoconfigure/target
/dynamodb-data-spring-boot-starter/target
/dynamodb-data-spring-boot-starter/starter.iml
/*.versionsBackup
/core/*.versionsBackup
/dynamodb-data-spring-boot-autoconfigure/*.versionsBackup
/dynamodb-data-spring-boot-starter/*.versionsBackup
/annotations/*.versionsBackup
/annotations/target
/target
/utils/*.versionsBackup
/pushToCentralRepo.sh
